.homeContainer {
	background-color: #03030F;
}


.img-display {
	display: flex;
	margin-top: 100px;
	margin-left: 350px;
	margin-right: 350px;
	align-items: center;
	justify-content: space-between;
}

.apresentation-text {
	color: #6b1ab1;
	font-size: 16px;
	font-style: italic;
}

.apresentation-img {
	border-radius: 110px;
	width: 225px;
	height: 200px;
	margin-left: 50px;
}

.explaining-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 150px;
	background-color: #DFDFDF;
	padding: 45px;
	/* border-radius: 15px; */
}

.explaining-container .explaining-text {
	font-size: 16px;
	color: #000;
	margin-left: 22px;
}

.explaining-container .explaining-img {
	background-color: #000;
	width: 150px;
	height: 250px;
	border-radius: 4px;
}

.contact-me {
	padding: 25px;
	margin-top: 15px;
}

.contact-me .contact-title {
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-me .contacts {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.contact-me .contacts .contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
	text-decoration: none;
	color: #FFF;
	align-self: center;
}

.contact-me .contacts .contact .icon{
	width: 80px;
	height: 80px;
	color: #FFF;;
}