.homeContainer {
	background-color: #03030F;
}


.img-display {
	display: flex;
	margin-top: 100px;
	margin-left: 350px;
	margin-right: 350px;
	align-items: center;
	justify-content: space-between;
}

.apresentation-text {
	color: #6b1ab1;
	font-size: 16px;
	font-style: italic;
}

.apresentation-img {
	border-radius: 110px;
	width: 225px;
	height: 200px;
	margin-left: 50px;
}

.explaining-container {
	display: flex;
	flex-direction: row;
	margin: 150px 150px 0 150px;
}

.explaining-container .explaining-text {
	font-size: 16px;
	color: #FFF;
}

.explaining-container .explaining-text .explaining-img {
	background-color: #000;
	width: 150px;
	height: 100px;
}